<div>
  <%- include('./partials/beerinfo.ejs') %>
  <h2>Food pairing</h2>
  <ul>
    <% beers[0].food_pairing.forEach(food => { %>
    <li><%- food %></li>
    <% }) %>
  </ul>
  <p><%- beers[0].brewers_tips %></p>
</div>
